// base
@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";

html,
body {
  height: 100%;
}



html {

  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.db {
  display: block !important;
}

body {
  background:$light-bg;
  color:$text-on-light-bg;
  font-family: $font;
  @include reset;
  font-weight:300;
  font-size:1em;

  @include respond-to(640) {
    font-size:80%;
  }
}

p {
  font-size:1.2em;
  line-height:1.8em;
  font-weight: 300;
  margin:0 0 20px;
}

h1 {
  font-size:3em;
  line-height:auto;
  padding: 0;
  margin:0 0 20px;
}

img {
  border:0;
  vertical-align:bottom;
  max-width:100%;
  &.full {width: 100%;}
}

header {
  width: 100%;
  color:$text-on-dark-bg;
  padding:0 10px;
  height: 120px;
  background: url("../images/dist/noise.png") $highlight;
  background-size:50px auto;
  transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

  @include respond-to(900) {
    height: 60px;
  }

  }


.navigation-subwrapper {
    width: 100%;
    &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999;

    header {
      height: 60px;
      transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
  }
}

.subheader {
  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;
  font-weight: 200;
  text-align: center;
  height: 100%;


  &-left {
    float: left;
    background: url("../images/dist/logo-white.png") 20px center no-repeat transparent;
    background-size: auto 80%;
    height: 100%;
    width: 145px;

    span {display: none; }
    @include respond-to(360) {
      background:none;
      background-size: auto 80%;
      width: 70px;

      span {
        display: block;
        text-transform: capitalize;
        @include vertical-align;
        font-weight: bold;
        padding: 5px 0 0 0;
      }
    }
  }

  &-right {
    float: right;
    @include vertical-align;
    text-align: right;

    @include respond-to(360) {
      float: none;
      padding:5px 0 0 0;
    }

    a,
    a:hover,
    a:visited,
    a:active {@include unstyled-link}

    > div {display: inline;}


    i {
      padding:0 10px;
      &:first-child {padding:0 10px 0 20px}
      &:last-child {padding:0 0 0 10px}
    }
  }
}// subheader

nav {
  width: 100%;
  background:$darker-bg;
  color:$text-on-dark-bg;
  position: relative;
  padding: 20px 0;
  box-shadow:0 5px 5px rgba(0,0,0,0.2);

  @include respond-to(599) {padding:10px 0;}

}

.subnav {

  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;

  i {
    display: none;

    @include respond-to(900) {
      display:block;
      padding:10px;

    }
  }

  ul,
  li {
    @include reset;
  }

  ul {
    @include clearfix;

    @include respond-to(900) {
      display:none;
    }
  }

  li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.1);
    border-right: 1px solid rgba(0,0,0,.3);

  &:first-child {
    border-left:0;
  }

  &:last-child {
    border-right:0
  }

    @include respond-to(900) {
      width: 100%;

      &:last-child {
        padding:0 0 20px;
      }
    }

    a {
      @include unstyled-link;
      letter-spacing: 2px;
      font-weight: 200;
      display: block;

      &.active,
      &:hover {
        color:$highlight;
      }
    }
  }
}



footer {
  width: 100%;
  background:$highlight2;
  padding:10px 0;
  color:$text-on-dark-bg;
  text-align: center;

}

.subfooter {
  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;
  font-weight: 300;
  font-size:.8em;
  text-align: center;
  padding:10px 0;

  &-left {
    float: left;
    width: 50%;

    @include respond-to(1050) {
      width: 100%;
    }

    ul,
    li {
      @include reset;
    }

  ul {
    @include clearfix;


  }

  li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    border-right:1px solid transparentize($text-on-dark-bg,.5);

    @include respond-to(460) {
      width: 100%;
      padding:5px 0;
    }

    &:last-child {border:0}

    a {
      @include unstyled-link;

      font-weight: 200;
      display: block;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}



  &-right {
    float: right;
    width: 50%;
    text-transform: none;

    @include respond-to(1050) {
      width: 100%;
      padding:20px 0 0 0;
    }

    span {font-weight: 400;}
  }

}// subfooter



/*
 * slider
 *
 */


@import "partials/_bx-slider.scss";


.topslider {
  @include reset;

  li {
   @include reset;
  }

  .overlay-text {

    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
    background-size:cover;

  &.first {
    background-image:url("../images/dist/slider-top/slider-LM-WM.png");
  }

    &.second {
    background-image:url("../images/dist/slider-top/slider-collection02WM.png");
  }

    &.third {
    background-image:url("../images/dist/slider-top/SLIDER-teestoreWM.png");
  }

      &.fourth {
    background-image:url("../images/dist/slider-top/SLIDER02-WM.png");
  }
      &.fifth {
    background-image:url("../images/dist/slider-top/SLIDER06-WM.png");
  }

  }
} // top slider


  .centered {
    margin:0 auto;
    padding:50px 10%;
    max-width:1400px;

    @include respond-to(1450) {
      padding:10%;
    }
  }
.about {
 padding:50px 0;
 text-align: center;

     @include respond-to(1450) {
      padding:5% 0;
    }

    h1 {
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      color:$text-on-light-bg;
      padding: 10px 0 40px 0;
      margin:0 auto;
      line-height:1.2em;

      span {
        font-weight: bold;
        color:lighten($text-on-light-bg,5%);
        }



        @include respond-to(480) {
          font-size:2em;
        }
    }//h1

    h2 {
      text-align: center;
       text-transform: uppercase;
       background-image: linear-gradient(
      to right,
      $dark-bg,
      $dark-bg 30%,
      transparent 30%,
      transparent 70%,
      $dark-bg 70%
    );
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: center center;
  display: block;
  width: 50%;
  margin: 0 auto;

    @include respond-to(1030) {
    width: 80%;

  }

  @include respond-to(480) {
    width: 100%;
    background-image: linear-gradient(
      to right,
      $dark-bg,
      $dark-bg 22%,
      transparent 22%,
      transparent 78%,
      $dark-bg 78%
    );
  }

    } //h2

    .discover {
      color:$text-on-dark-bg;
      border-bottom:5px solid darken($highlight,10%);
      padding: 20px 40px;
      background:$highlight;
      margin:40px auto 0;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;

    }
      a,
      a:visited,
      a:hover {
        @include unstyled-link;
      }

    p {
      text-align: center;
    }
} //about

.grid {
  @include clearfix;

  .cell {
    float: left;
    width: 33.33333333%;
    height: 0;
    padding: 35% 0 0 0;
    position: relative;


    @include respond-to(550) {
      width: 100%;
      padding: 120% 0 0 0;
    }
    .overlay {
      z-index:999;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
  transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

  }

    .description-box {
      @include absolute-center;
      z-index:1000;
      width: 80%;
      border:2px solid $darker-bg;
      color:$darker-bg;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      top: 53%;
      font-size:1.2em;
      transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

      .top {border-bottom:2px solid $darker-bg;text-shadow:0 1px 0 rgba(255,255,255,.2);}
      .center {font-weight:bold;padding:10px;  line-height: 1.2em;text-shadow:0 1px 0 rgba(255,255,255,.2);}
      .bottom {
        background:$darker-bg;
        color:$text-on-dark-bg;
        font-weight:300;
        padding:10px 0;

        a,
        a:visited,
        a:hover,
        a:active {
          display: block;
          @include unstyled-link;
        }
      }

    } //desc box

    &.left {
      background:url("../images/dist/grid/middle-teestore.jpg") center center no-repeat;
      background-size:cover;
    }
    &.center {
      background:url("../images/dist/grid/middle-LM.jpg") center center no-repeat;
      background-size:cover;

    }
    &.right {
      background:url("../images/dist/grid/middle-03.jpg") center center no-repeat;
      background-size:cover;
    }
        &:hover,
        &:active {
      .description-box {
        opacity: 1;
        top: 50%;
        transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }

    .overlay {
      opacity: 1;
      transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
}
  }//cell
}//grid

.stripe {
  padding:50px 0;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto 80%;
  background-repeat:repeat-x;

  @include respond-to(800) {
    padding:25px 0;
  }

  &.collection {
    background-image:url("../images/dist/collection.png");
  }

  &.instagram {
    background-image:url("../images/dist/instagram.png");
  }
}

.shopslider {

 li {
   position: relative;


 .buy {
   width: 100%;
   height: 100%;
   background:rgba(237,28,36,.7);
   position: absolute;
   left: 0;
   top: 0;
   opacity:0;
   z-index:99998;
   color:$text-on-dark-bg;
   transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

   .buy-desc-box {
     @include absolute-center;
     top:-100%;
     text-align: center;
   }

 }

 &:hover {
   .buy {
     opacity:1;
     transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

     .buy-desc-box {
       transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
       top:50%;
       width: 70%;
     }

     .buyhead {
       font-size:1.2em;
       font-weight: 700;
       text-transform: uppercase;
         background-image:     linear-gradient(
      to right,
      #fff,
      #fff 20%,
      transparent 20%,
      transparent 80%,
      #fff 80%
    );
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: center center;
     }

     .buytitle {
       font-size:2em;
       line-height:1.2em;
       font-weight: 300;
       letter-spacing:2px;
       text-transform: uppercase;
       border-bottom:1px solid $text-on-dark-bg;
       padding:20px 0 25px 0;
     }

     $magic-number:50px;

     a,
     a:visited,
     a:hover {
       @include unstyled-link;
       display: block;
       width: $magic-number;
       height: $magic-number;
       margin: 20px auto 0;
       background:$text-on-dark-bg;
       border-radius:50%;
         transition:transform 250ms cubic-bezier(0.465, 0.183, 0.153, 0.946);

       i {

         color:$text-on-light-bg;
         line-height:$magic-number;
         margin-left:-3px;
       }

       &:hover {
         transform:scale(1.1);
           transition:transform 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
       }
     }//a
   }//.buy
 }//on hover
 }//li
}//shop slider

.grams {
  @include clearfix;
  .insta-wrapper {
    width: 20%;
    float: left;

    @include respond-to(550) {
      width: 50%;
    }
  }
}//grams

  .contact-box {
    @extend .centered;
    padding: 100px 10%;
    @include clearfix;

  }

.contact {

  h1 {

       margin:0 0 60px;
       text-align: center;
       text-transform: uppercase;
       background-image:     linear-gradient(
      to right,
      $dark-bg,
      $dark-bg 30%,
      transparent 30%,
      transparent 70%,
      $dark-bg 70%
    );
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: center center;

    @include respond-to(480) {
          font-size:2em;
          margin:0 0 20px;
        }
      @include respond-to(412) {
      background-image:     linear-gradient(
      to right,
      $dark-bg,
      $dark-bg 20%,
      transparent 20%,
      transparent 80%,
      $dark-bg 80%
    );
        }

          @include respond-to(976) {
                 background-image:     linear-gradient(
      to right,
      $dark-bg,
      $dark-bg 15%,
      transparent 15%,
      transparent 85%,
      $dark-bg 85%
    );
        }




  }//h1

  .left {
    text-align:center;
    width: 30%;
    float: left;
    line-height:2em;

    @include respond-to(972) {
      float: none;
      width: 100%;
      margin:0 0 30px;
    }

    span {
      color:$highlight;

      &.fa-stack {
        color:$highlight2;
      }
    }

    a,
    a:visited {
      @include unstyled-link;
    }

    a:hover {
      text-decoration: underline;
    }

    h2 {


      text-transform: uppercase;
      font-weight:300;
      margin: 20px 0 10px;
      span {
        font-weight:bold;
        color:inherit;
      }
    }

    i {padding:0 5px 0 0}

  }//.left

  .right {

    width: 70%;
    float: left;
    padding:0 0 0 40px;
    @include clearfix;

    @include respond-to(972) {
      float: none;
      width: 100%;
      padding: 0;
    }

    input {
    display: block;
    float: left;
    width: 47.5%;
    margin:0 0 5%;

    &:nth-child(2) {

      float: right;
    }
    }

    form {
      @include clearfix;
    }

    .text-area {
      float: left;
      width: 100%;
    }

    input,
    textarea {
      border:1px solid $dark-bg;
      border-radius:2px;
      padding:10px 20px;
    }

    textarea {
      width: 100%;
      margin:0 0 5%;
      min-height:200px;
    }

    .btn-send {
      float: right;
    }

    button {
      background:$highlight;
      color:$text-on-dark-bg;
      padding:5px 50px;
      float: right;
      border-left: 0;
      border-radius:3px;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom:3px solid lighten($highlight,10%);
    }

  }//right
}//contact

.newsletter {
  background:url("../images/dist/noise.png") #999;
  color:$text-on-dark-bg;
  text-align: center;
  font-size:1.4em;
  line-height:1.6em;
  text-transform: uppercase;
  padding:20px 0;

  @include respond-to(380) {
    line-height:1em;
  }


  span {
    font-weight:bold;
  }

  form,
  input {
    display: inline;
  }

  input {
    width: 400px;
    @include respond-to(580) {
      width:auto;
    }
  }

  form {
    @include respond-to(1030) {
      display: block;
      margin:10px 0 ;
    }
  }

  input {
    border-radius:3px;
    background:lighten(#999,20%);
    border:0;
    height:40px;
    line-height:40px;
    font-size:.8em;
    padding:0 10px;
    vertical-align: bottom;
    text-align: center;
    color:$text-on-light-bg;
  }
  button {
      background:$highlight;
      color:$text-on-dark-bg;
      padding:0 25px;
      border-radius:3px;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom:3px solid lighten($highlight,10%);
      height: 40px;
      line-height: 40px;
      font-size:.8em;
      vertical-align: bottom;
            @include respond-to(380) {
     margin:10px 0 0;
  }
  }
}


body.thanks {
  margin:0;
  padding:20px;
}

.response b {
  display: block;
  font-size:2em;
  line-height:1.6em;
}
.response {
  text-align: center;

  img {
    display: block;
    width: 150px;
    margin: 0 auto;
  }

  a {
    @include unstyled-link;
    text-decoration: underline;
  }

  p {
    margin: 0;
  }

}
