// base
@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_mixin.scss";

html,
body {
  
  height: 100%;
  
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.db {
  display: block !important;
}

body {
  background:$light-bg;
  color:$text-on-light-bg;
  font-family: $font;
  @include reset;
  @include adjust-font-size-to(18px);
  font-weight:normal;
  
  @include respond-to(640) {
    font-size:80%;
  }
}

img {  
  border:0;
  vertical-align:bottom;
  max-width:100%;
  &.full {width: 100%;}
}

header {
  width: 100%;
  color:$text-on-dark-bg;
  padding:0 10px;
  height: 120px;
  background: $highlight;
  transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }


.navigation-subwrapper {
    width: 100%;
    &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999;
    
    header {
      height: 60px;
      transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
  }
}

.subheader {
  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;
  font-weight: 200;
  text-align: center;
  height: 100%;
  
  
  &-left {
    float: left;
    background: url("../images/dist/logo-white.png") 20px center no-repeat $highlight;
    background-size: auto 80%;
    height: 100%;
    width: 145px;
    
    @include respond-to(360) {
      float: none;
    }
  }
  
  &-right {
    float: right;
    @include vertical-align;
    
    @include respond-to(360) {
      float: none;
      padding:5px 0 0 0;
    }
    
    a,
    a:hover,
    a:visited,
    a:active {@include unstyled-link}
    
    > div {display: inline;}
    
    span {
      font-weight: normal;
      &.active {font-weight: bold; }
    }
    
    i {
      padding:0 10px;
      &:first-child {padding:0 10px 0 20px}
      &:last-child {padding:0 0 0 10px}
    }
  }
}// subheader

nav {
  width: 100%;
  background:$darker-bg;
  color:$text-on-dark-bg;
  position: relative;
  padding: 10px 0;
}

.subnav {
  
  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;
  
  i {
    display: none;
    
    @include respond-to(900) {
      display:block;
      padding:10px;
      
    }
  }
  
  ul,
  li {
    @include reset;
  }
  
  ul {
    @include clearfix;
    
    @include respond-to(900) {
      display:none;
    }
  }
  
  li {
    float: left;
    list-style: none;
    width: 16.66666666666667%;
    text-align: center;
    
    @include respond-to(900) {
      width: 100%;
      
      &:last-child {
        padding:0 0 20px;
      }
    }
    
    a {
      @include unstyled-link;
      
      font-weight: 200;
      display: block;
      
      &.active,
      &:hover {
        color:$highlight;
      }
    }
  } 
}



footer {
  width: 100%;
  background:$highlight2;
  padding:10px 0;
  color:$text-on-dark-bg;
  text-align: center;
  
}

.subfooter {
  margin: 0 auto;
  max-width:1200px;
  text-transform: uppercase;
  @include clearfix;
  font-weight: 200;
  text-align: center;
  padding:10px 0;
  
  &-left {
    float: left;
    width: 50%;
    
    @include respond-to(1050) {
      width: 100%;
    }
    
    ul,
    li {
      @include reset;
    }
    
  ul {
    @include clearfix;
    
    
  }
  
  li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
    border-right:1px solid transparentize($text-on-dark-bg,.5);
    
    @include respond-to(460) {
      width: 100%;
      padding:5px 0;
    }
    
    &:last-child {border:0}
    
    a {
      @include unstyled-link;
      
      font-weight: 200;
      display: block;
      
      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


  
  &-right {
    float: right;
    width: 50%;
    text-transform: none;
    
    @include respond-to(1050) {
      width: 100%;
      padding:20px 0 0 0;
    }
    
    span {font-weight: 400;}
  }

}// subfooter



/*
 * slider
 * 
 */


@import "partials/_bx-slider.scss";


.topslider {
  @include reset;
  
  li {
   @include reset;
  }
  
  .overlay-text {
  
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:transparent;
    background-size:cover;
    
  &.first {
    background-image:url("../images/dist/slider-top/text-1.png");
  }  
  
    &.second {
    background-image:url("../images/dist/slider-top/text-2.png");
  }  
  
    &.third {
    background-image:url("../images/dist/slider-top/text-3.png");
  }  
  
      &.fifth {
    background-image:url("../images/dist/slider-top/text-5.png");
  } 
    
  }
} // top slider


  .centered {
        margin:0 auto;
    padding:40px 10%;
    max-width:1200px;
    
    @include respond-to(1250) {
      padding:10%;
    }
  }
.about {
 
  
    h1 {
     
      border-bottom:5px solid lighten($text-on-light-bg,25%);
      display:inline-block;
      font-weight: 300;
      text-transform: uppercase;
      color:$text-on-light-bg;
      padding: 0 0 20px;
      margin:0 0 50px 0;
      letter-spacing:-5px;
      
      span {
        font-weight: bold;
        color:lighten($text-on-light-bg,5%);
        }        
    }//h1
  
  p {
 
  }
} //about

.grid {
  @include clearfix;
  
  .cell {
    float: left;
    width: 33.33333333%;
    height: 0;
    padding: 50% 0 0 0;
    position: relative;
    
    @include respond-to(550) {
      width: 100%;
      padding: 120% 0 0 0;
    }
    
    .description-box {
      @include absolute-center;
      width: 80%;
      border:2px solid $darker-bg;
      color:$darker-bg;
      text-align: center;
     
      text-transform: uppercase;
      
      .top {
        border-bottom:2px solid $darker-bg;
        
      }
      
      .center {
        font-weight:bold;
        
      }
      
      .bottom {
        background:$darker-bg;
        color:$text-on-dark-bg;
        font-weight:300;
        
        a,
        a:visited,
        a:hover {
          display: block;
          @include unstyled-link;
        }
      }
      
    }
    
    &.left {      
      background:url("../images/dist/slider-middle/middle-01.jpg") center center no-repeat; 
      background-size:cover;     
    }    
    &.center {
      background:url("../images/dist/slider-middle/middle-02.png") center center no-repeat;
      background-size:cover;
    }
    &.right {
      background:url("../images/dist/slider-middle/middle-03.png") center center no-repeat;
      background-size:cover;
    }
  }//cell
}//grid

.stripe {
  padding:50px 0;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:auto 80%;
  background-repeat:repeat-x;
  
  &.collection {
    background-image:url("../images/dist/collection.png");
  }
  
  &.instagram {
    background-image:url("../images/dist/instagram.png");
  }
}

.shopslider {
 
 li {
   position: relative;
 
 
 .buy {
   width: 100%;
   height: 100%;
   background:rgba(237,28,36,.7);
   position: absolute;
   left: 0;
   top: 0;
   opacity:0;
   z-index:99998;
   color:$text-on-dark-bg;
   transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
   
   .buy-desc-box {
     @include absolute-center;
     top:-100%;
     text-align: center;
   }
   
 } 
 
 &:hover {
   .buy {
     opacity:1;
     transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
     
     .buy-desc-box {
       transition:all 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
       top:50%;
     }
     
     .buyhead {
      
       font-weight: 700;
       text-transform: uppercase;
         background-image:     linear-gradient(
      to right, 
      #fff,
      #fff 23%,
      transparent 23%,
      transparent 78%,
      #fff 78%
    );
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: center center;
     }
     
     .buytitle {
       
       font-weight: 300;      
       letter-spacing:2px;
       text-transform: uppercase;
       border-bottom:1px solid $text-on-dark-bg;
       padding:10px 0 25px 0;
     }
     
     $magic-number:50px;
     
     a,
     a:visited,
     a:hover {
       @include unstyled-link;
       display: block;
       width: $magic-number;
       height: $magic-number;
       margin: 20px auto 0;
       background:$text-on-dark-bg;
       border-radius:50%;
         transition:transform 250ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
         
       i {
       
         color:$text-on-light-bg;
         line-height:$magic-number;
         margin-left:-3px;
       }
       
       &:hover {
         transform:scale(1.1);
           transition:transform 100ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
       }
     }//a
   }//.buy
 }//on hover
 }//li
}//shop slider

.grams {
  @include clearfix;
  
  .insta-wrapper {
    width: 20%;
    float: left;
    
    @include respond-to(550) {
      width: 50%;
    }
  }
}//grams

  .contact-box {
    @extend .centered;

    @include clearfix;
  }
.contact {
  
  h1 {
       
       font-weight: 700;
       text-align: center;
       text-transform: uppercase;
         background-image:     linear-gradient(
      to right, 
      $dark-bg,
      $dark-bg 25%,
      transparent 25%,
      transparent 75%,
      $dark-bg 75%
    );
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-position: center center;
  }
  
  .left {
    text-align:center;
    
    width: 30%;
    float: left;
    
    
    @include respond-to(650) {
      float: none;
      width: 100%;
    }
    
    span {
      color:$highlight;  
      
      &.fa-stack {
        color:$highlight2;
      }
    }
    
    a,
    a:visited {
      @include unstyled-link;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    h2 {
     
      border-top:1px solid $dark-bg;
      text-transform: uppercase;
      font-weight:300;
      padding:15px 0 0;
      display: inline-block;
      span {
        font-weight:bold;
        color:inherit;
      }
    }
    
  }//.left
  
  .right {
    
    width: 70%;
    float: left;
    padding:0 0 0 40px;
    @include clearfix;
    @include respond-to(650) {
      float: none;
      width: 100%;
      padding: 0;
    }
    input {
    display: block;
    float: left;
    width: 47.5%;  
    margin:0 0 5%;
    
    &:nth-child(2) {
      
      float: right;
    }
    }
    form {
      @include clearfix;
    }
    
    input,
    textarea {
      border:2px solid $dark-bg;
      border-radius:2px;
      padding:10px 20px;
    }

    textarea {
      width: 100%;
      margin:0 0 5%;
      min-height:200px;
    }
    
    button {
      background:$highlight;
      color:$text-on-dark-bg;
      padding:5px 50px;
      float: right;
      border-left: 0;
      border-radius:3px;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom:3px solid lighten($highlight,10%)
    }
    
  }//right
}//contact



